.subscribeButton {
  color: var(--gray-900);
  background-color: var(--yellow-500);
  font-size: 1.25rem;
  font-weight: bold;

  width: 260px;
  height: 4rem;
  border: none;
  border-radius: 2rem;
  transition: filter ease 0.3s;

  &:hover {
    filter: brightness(0.8);
  }
}
